Deprecated==1.2.13
ansicolors==1.1.8
parse==1.19.0
ordered-set==4.0.2
parsimonious==0.8.1
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.1